<div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="name">NAme</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="dieSet.title"
          name="name"
        />
      </div>
      <label>Die Types
        <div class = "form-check" *ngFor="let dieType of dieTypes; let i = index">
            <label class = "form-check-lable" for="dieType{{dieType}}">
                <input class = "form-check-input"
                id="dieType{{dieType}}" 
                type="checkbox" name="dieType" 
                [value] = "dieType.value" 
                (change)="onCheckboxChange($event)"
                >
                {{dieType.name}}
                </label>
        </div>
      </label>
  
      <button (click)="saveTutorial()" class="btn btn-success">Submit</button>
    </div>
  
    <div *ngIf="submitted">
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" (click)="newTutorial()">Add</button>
    </div>
  </div>